body {
    background: #fefefe;
}

h1 {
    color: #5d6aa8
}

h2 {
    color: #1460AA;
}

h3 {
    color: #a97fbd;
}

p {
    color: #676870
}

nav a {
    color: darkslategrey;
}

#top {
    background-color: rgb(207, 183, 123);
}

.nav-background {
    background-color: #e7e3ac;
}

.intro-background {
    background-color: #fae6a6;
}